.card__input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.card__input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1.3rem;

}

.card__input-label {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

