.table__result-container {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  display:flex;
  flex-direction: column;

}

.table__thead {
  font-size: 1rem;
  color: #83e6c0;

}

.table__tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  color: #c2e9e0;
  margin-left: 4rem;
}
